{% extends "base.html" %}
{% block title %}- Password Reset{% endblock %}
{% block header %}Password Reset{% endblock %}
{% block main %}
<p>
	Forgot your password? Enter your e-mail address below, and instructions will be emailed to you shortly.
</p>
<form class="form-horizontal" action="" method="post">
	<fieldset>
		<div class="control-group">
			{% csrf_token %}
			{{ form.email.errors }} <label class="control-label" for="id_email">E-mail address:</label>
			<div class="controls">
				{{ form.email }}
			</div>
		</div>
		<div class="form-actions">
			<input type="submit" value="Reset Password" class="btn btn-primary btn-large">
		</div>
	</fieldset>
</form>
{% endblock %} 