{% extends "base.html" %}
{% block header %}
About pintQuest
{% endblock %}
{% block main %}
        <div class="row">
                <div class="span8">
                        <h3>What's pintQuest?</h3>
                        <p>Have you ever been to a grocery store or a pub and been presented an exhaustive list of beers that you can't recall which ones you've had and which ones you liked?  Do you like to try as many new beers as possible?  pintQuest is your personal database of your collection of beers.  "Your collection" doesn't mean a stash of beer you're hoarding, but the beers you've tried in your adventures to try every unique beer you can get your hands on. </p>
                        <p>Just had a new IPA from a small craft brewer?  Drink it in pintQuest! Every time you go back in to the service from this point forward, you will see you had that IPA on that day.  Can't decide which pack of beer you want to purchase from your grocery store, but you want to try something new?  Find the ones that interest you, and then search pintQuest to see if you already had them.<p>
                        

                        <p>Finally, <b>you must be of legal drinking age in your country to utilize pintQuest!</b>  Since pintQuest is not about drinking irresponsibly or consuming excessive amounts of alcohol, it is not for underage drinking.  Please respect your local laws, and use pintQuest responsibly!</p>
                        
                       </div>
                <div class="span4">        
                        <h3>How To Use pintQuest</h3>
                        <p>pintQuest is currently in a preview-beta-experimental-proof-of-concept. In other words, expect it to break.</p>
                        <ol>
                                <li>Log in to pintQuest</li>
                                <li>Drink a beer by selecting "Drink Beer" from the menu.</li>
                                <li>Enter the brewery of the beer and the beer's name. Since the database is still being populated by YOU, you should enter it as cleanly and accurately as possible if it isn't in the database yet.</li>
                                <li>Drink!</li>
                                <li>View your statistics and all the beers you drank by clicking "Your Beers".</li>
                                <li>View all of the beers in the pintQuest database by clicking the "Beer Database" dropdown and selecting "Browse".</li>
                                <li>Search the beers by clicking on the "Beer Database" dropdown and selecting "Search".</li>
                        </ol>                
                </div>
        </div>
{% endblock %}
