<!DOCTYPE html>
<html lang="en">
	<head>
		<title>pintQuest {% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script>
			$(document).delegate("#drinkBeer", "pagecreate", function() {
				$("input#brewerySearchField").autocomplete({
					source : function(request, response) {
						$.getJSON("/beer/lookup/", {
							brewery : request.term
						}, response);
					},
					minLength: 2
				});
				$("input#beerSearchField").autocomplete({
					source : function(request, response) {
						$.getJSON("/beer/lookup/", {
							beer : request.term,
							brewery : $("#brewerySearchField").val()
						}, response);
					},
					minLength: 1
				});
				$('#submit').click(function() {

					var brewerySearchField = $("#brewerySearchField").val();
					console.log(brewerySearchField);
					var beerSearchField = $('#beerSearchField').val();
					//$('#innerContent').html("test");
					$.ajax({
						url : '/m/drinkbeer/',
						type : 'POST',
						data : 'brewerySearchField=' + brewerySearchField + '&beerSearchField=' + beerSearchField,
						success : function(result) {
							$('#innerContent').append(result);
						}
					});
					return false;
				});
			});

		</script>
	</head>
	<body>
		<div data-role="page" id="drinkBeer" data-theme="a">
			<div data-role="header" data-id="foo1" data-position="fixed">
				<h1>pintQuest</h1>
				<a href="/m/logout/" data-rel="dialog" class="ui-btn-right" data-ajax="false">Logout</a>
			</div>
			<div data-role="content">
				<h3>Drink a Beer</h3>
				<div id="innerContent">
					<form name="beerSubmit" action="/m/drinkbeer/" method="post">
						<div data-role="fieldcontain">
							<input type="text" id="brewerySearchField" name="brewerySearchField" placeholder="Brewery">
							<br />
							<input type="text" id="beerSearchField" name="beerSearchField" placeholder="Beer">
							<fieldset class="ui-grid-a">
								<div class="ui-block-b">
									<button id="submit" type="submit">
										Drink!
									</button>
								</div>
							</fieldset>
							<h3 id="message"></h3>
						</div>
					</form>
				</div>
			</div><!-- /content -->
			<div data-role="footer" data-id="foo1" data-position="fixed">
				<div data-role="navbar">
					<ul>
						<li>
							<a href="#home" data-icon="home" data-direction="reverse">Home</a>
						</li>
						<li>
							<a href="#drinkBeer" class="ui-btn-active ui-state-persist" data-icon="check">Drink Beer</a>
						</li>
					</ul>
				</div><!-- /navbar -->
			</div><!-- /footer -->
		</div><!-- /page -->
	</body>
</html>
