{% extends "mobile/m-base.html" %}
{% block title %}
{% endblock %}
{% block head %}
{% endblock %}
{% block main %}
<div data-role="page" id="home" data-theme="a">

		<div data-role="header">
			<h1>pintQuest</h1>
		</div><!-- /header -->

		<div data-role="content" id="content">
			<ul data-role="listview" data-inset="true">
				<li>
				<a href="/m/login/">Log In</a>
				</li>				
			</ul>
		</div><!-- /content -->

		<div data-role="footer">
			<h4>&copy; 2011 - pintQuest</h4>
		</div><!-- /footer -->
</div><!-- /home -->
{% endblock %}
