<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>pintQuest {% block title %}{% endblock %}</title>
		<link href="/media/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
		<script src="/media/js/jquery-1.7.1-min.js"></script>
		<script src="/media/js/jquery-ui.min.js"></script>
		<script src="/media/bootstrap/js/bootstrap.js"></script>			
		<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css">		
		<link rel="stylesheet" href="/media/css/tbsStyle-ext.css">
		<link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
		{% block head %}{% endblock %} <script src="/media/js/pqmain.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2218725-12']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="span12">
						<h2 id="mainHeader">{% block header %}{% endblock %}</h2>
						{% block main %}{% endblock %}
					</div>
				</div>
			</div>
			{% include "footer.html" %}
